.packages {
  padding-block: 7rem;
  &__header {
    text-align: center;
    max-width: 40rem;
    margin-inline: auto;
  }
}

.packages__list {
  margin-block: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.packages__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #eff2f9;
  width: 25rem;
  padding-inline: 4rem;
  padding-block: 5rem;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.package-insurance {
  text-align: center;
  margin-top: 1rem;
}

.blue {
  background-color: #06a6e3;
  color: #fff;
}

.dark-blue {
  background-color: #112542;
  color: #fff;
}

@media (min-width: 756px) {
  .packages__list {
    flex-direction: row;
  }
}
