.all-services {
  background-image: url("../../assets/service-bg2.jpg");
  background-size: cover;
  background-position: center center;
  color: #fff;

  &__overlay {
    background-color: hsl(0, 0%, 0%, 10%);
  }

  .container {
    display: flex;
    align-items: center;
    padding-block: 7rem;

    & > div {
      width: 100%;
    }
  }

  &__img img {
    width: 33rem;
    height: 33rem;
    object-fit: cover;
  }
}
